# Python
__pycache__/
*.py[cod]
*$py.class
venv/
*.egg-info/

# Node
node_modules/

# Build
build/
dist/

# Environment
.env
backend/.env
frontend/.env
ml-service/.env

# Logs
*.log

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Uploads
uploads/
